<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
  <h2>You are editing a user</h2>

  <input value="<%= user.name %>" name="name" type="text" class="form-control">
  <input value="<%= user.username %>" name="username" type="text" class="form-control">
  <input value="<%= user.email %>" name="email" type="text" class="form-control">
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Proceed" />
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
